{% extends 'swexplorer/base.html'  %}
{% load static %}


{% block page_content %}

{% verbatim %}

<section id="app" class="container mt-2">

    <div class="columns is-vcentered mb-2">
        <div class="column is-1">
            Collections
        </div>
        <div class="column is-2">
            <button class="button" @click="fetchCollections">
                <span v-if="processing"span>
                    <i class="fas fa-cog fa-spin"></i>
                </span>
                <span v-else>
                    Fetch
                </span>
            </button>
        </div>
    </div>

    <div class="columns">
        <div class="column is-3">
            <table class="table is-fullwidth is-hoverable is-striped">

                <tbody>
                    <tr v-for="item in collections">
                        <td><a v-bind:href='"/collections/" + item.id'>{{ item.created_at }}</a></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</section>

{% endverbatim %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'swexplorer/js/collections_list.js' %}"></script>
{% endblock %}
